@mixin fuentes1{
  font-size: 20px;
  font-family: cursive;
  background: black;
  color: red;
}
@mixin fuentes2{
  font-size: 30px;
  font-family: "Abyssinica SIL";
  background: red;
  color: black;
  text-decoration: underline;

}

.navbar-brand{
  &:hover{
    @include fuentes2;
  }
}
ul li{
  &:hover{
    @include fuentes1;
  }
}