header{
    background: black;
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    height: 20%;
    box-shadow: 0 0 30px #a3ff0f;
    color :white;
    border-radius: 10px;
}
.cuadrado1{
  width: 200px;
  height: 200px;
  border: 3px solid black;
  position: absolute;
  top: 20%;
  left: 20%;

}

.cuadrado2{
  width: 200px;
  height: 200px;
  border: 3px solid black;
  position: absolute;
  top: 20%;
  left: 60%;
  border-radius: 10px;
 
}
.cuadrado3{
  width: 200px;
  height: 200px;
  border: 3px solid black;
  position: absolute;
  top: 60%;
  left: 20%;
  
}
.cuadrado4{
  width: 200px;
  height: 200px;
  border: 3px solid black;
  position: absolute;
  top: 60%;
  left: 60%;
  border-radius: 70px;
 
}
footer{
    text-align: end;
    background: black;
    width: 100%;
    position: absolute;
    top: 90%;
    margin-left: -0.5%;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 40px #a3ff0f;
  
}
 